<<<<<<< Updated upstream
=======
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #fff;
}

>>>>>>> Stashed changes
body {
  margin: 0;
}

<<<<<<< Updated upstream
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
=======
main {
  margin-top: 6rem;
>>>>>>> Stashed changes
}
